<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="text-2xl font-bold text-gray-900">
        <%= @question.title_jp %>
      </h1>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        <%= @question.title_en %>
      </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            回答
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <p><%= @question.answer_jp %></p>
            <div class="flex items-center space-x-2 mt-1">
              <p class="text-gray-500"><%= @question.answer_en %></p>
              <%# Stimulus Audio Player %>
              <div data-controller="audio-player" data-audio-player-url-value="<%= audio_question_path(@question) %>">
                <button type="button" data-action="click->audio-player#toggle" class="text-gray-500 hover:text-gray-700 focus:outline-none">
                  <%# Play Icon %>
                  <svg data-audio-player-target="playIcon" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                  </svg>
                  <%# Stop Icon %>
                  <svg data-audio-player-target="stopIcon" class="h-6 w-6 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.254 9.254 9 9.563 9h4.874c.309 0 .563.254.563.563v4.874c0 .309-.254.563-.563.563H9.563A.562.562 0 0 1 9 14.437V9.564Z" />
                  </svg>
                </button>
              </div>
            </div>
          </dd>
        </div>
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            カテゴリ
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @question.category.name %>
          </dd>
        </div>
        
      </dl>
    </div>
  </div>

  <div class="mt-8 text-center">
    <%= link_to '質問一覧に戻る', root_path, class: "text-indigo-600 hover:text-indigo-800 font-medium" %>
  </div>
</div>
